<div class="col-md-8 col-xl-4 pl-4">
  <div class="py-3 text-muted text-center">
    {{ time | date: "MMM dd, yyyy 'at' hh:mm a" }}
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="note.title"
      (ngModelChange)="setNote()"
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      rows="4"
      class="form-control"
      [(ngModel)]="note.description"
      (ngModelChange)="setNote()"
    ></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" *ngIf="note.id" (click)="updateNote()">
      Update
    </button>
  </div>
</div>
