@import "variables";

body {
  textarea {
    resize: none;
  }
}

.header {
  .nav {
    height: 50px;
    align-items: center;
    justify-content: center;
    .nav-item {
      & + .nav-item {
        margin-left: 0.6rem;
      }
    }
    .nav-link {
      color: $text-light;
      padding: 0.2rem 0.5rem;
      background-color: white;
      min-width: 40px;
      text-align: center;
      border: 1px solid #00000015;
      transition: 0.2s all ease-in-out;
      &:hover {
        color: $text-secondary-color;
        border-color: #00000028;
      }
    }
  }
  .form-control {
    width: 200px;
    height: 29px;
    padding-left: 1.8rem;
    &:not(:focus) {
      border-color: #00000015;
    }
  }
}

.sidebar {
  .nav-item {
    padding: 0.4rem 0.2rem 0.4rem 1rem;
    cursor: pointer;
    max-width: 100%;
    & + .nav-item {
      border-top: 1px solid $light-gray-2;
    }
    &:hover {
      background-color: $light-gray-2;
    }
    &.active {
      background-color: $accent;
    }
  }
}

.title {
  font-size: 1rem;
  font-weight: 600;
}
.form-control-icon {
  position: relative;
  i {
    position: absolute;
    left: 16px;
    top: 55%;
    transform: translate(-50%, -50%);
    color: $text-light;
    pointer-events: none;
    transition: 0.1s ease;
  }
}
