@import "variables";

body {
  textarea {
    resize: none;
  }
}

.header {
  .nav {
    min-height: 50px;
    align-items: center;
    justify-content: center;
    .nav-item {
      & + .nav-item {
        margin-left: 0.6rem;
      }
    }
    .nav-link {
      color: $text-light;
      padding: 0.2rem 0.5rem;
      background-color: white;
      min-width: 40px;
      text-align: center;
      border: 1px solid #00000015;
      transition: 0.2s all ease-in-out;
      &:hover {
        color: $text-secondary-color;
        border-color: #00000028;
      }
    }
  }
  .form-control {
    width: 200px;
    height: 29px;
    padding-left: 1.8rem;
    &:not(:focus) {
      border-color: #00000015;
    }
  }
}

.sidebar {
  .nav-item {
    padding: 0.4rem 0.2rem 0.4rem 1rem;
    cursor: pointer;
    max-width: 100%;
    & + .nav-item {
      border-top: 1px solid $light-gray-2;
    }
    &:hover {
      background-color: $light-gray-2;
    }
    &.active {
      background-color: $accent;
      border-color: $accent;
      & + .nav-item {
        border-color: $accent;
      }
    }
  }
}

.title {
  font-size: 1rem;
  font-weight: 600;
}
.form-control-icon {
  position: relative;
  i {
    position: absolute;
    left: 16px;
    top: 55%;
    transform: translate(-50%, -50%);
    color: $text-light;
    pointer-events: none;
    transition: 0.1s ease;
  }
}
.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.1rem;
  width: 2.1rem;
  margin-left: auto;
  font-size: 1.1rem;
  color: $text-color;
}
.side-header {
  display: none;
  padding: 0.5rem;
  text-align: right;
  background-color: $light-gray-2;
}
.block-overlay {
  display: none;
}
@media (max-width: 576px) {
  .header {
    .nav {
      padding-top: 0.5rem;
      .nav-item {
        margin-bottom: 0.5rem;
      }
    }
  }
  .sidebar {
    position: fixed;
    z-index: 9999999;
    background: white;
    bottom: 0;
    top: 0;
    transition: 0.2s transform ease-in-out;
    transform: translateX(-100%);
    &.open {
      transform: translateX(0);
    }
  }
  .side-header {
    display: block;
  }
  .block-overlay.show {
    display: block;
    position: fixed;
    z-index: 999999;
    background: #00000050;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
@media (max-width: 430px) {
  .header .nav .nav-item {
    &:last-child {
      margin-left: 0;
    }
    .form-control {
      width: 236px;
    }
  }
}
