<ul class="nav flex-column">
  <li class="nav-item" *ngIf="newNote && newNote.title">
    <h5 class="title text-truncate mb-1">{{ newNote.title }}</h5>
    <div class="description text-truncate">
      <span class="time mr-1">{{ newNote.time | date: "hh:mm a" }}</span>
      <span class="text-muted">{{ newNote.description }}</span>
    </div>
  </li>

  <li
    class="nav-item"
    [class.active]="note.id === selectedId"
    *ngFor="let note of notes | search: searchText"
    (click)="onSelect(note)"
  >
    <h5 class="title text-truncate mb-1">{{ note.title }}</h5>
    <div class="description text-truncate">
      <span class="time mr-1">{{ note.time }}</span>
      <span class="text-muted">{{ note.description }}</span>
    </div>
  </li>
</ul>
